.api-editor {
  .ace-editor {
    background-color: #ECF0F1;
    padding: 4px;
  }
  .api-editor-buttons {
    margin-top: 10px;
    text-align: right;
    .ant-btn {
      margin-left: 10px;
      &:nth-child(2) {
        background-color: #E74C3C;
        border-color: #E74C3C;
      }
      &:nth-child(3) {
        background-color: #2ECC71;
        border-color: #2ECC71;
      }
    }

  }
}
