.project-side {
  float: left;
  width: 100px;
  margin-top: 20px;
  p {
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

.project-main {
  margin-left: 100px;
  .ant-breadcrumb {
    line-height: 4em;
    margin: 0 4%;
  }
}
