.block-list {
  li {
    float: left; 
    background-color: #ECF0F1;
  }
}
.project-list {
  li {
    position: relative;
    height: 110px;
    width: 25%;
    margin: 20px 4.16%;
    padding: 10px;
    &:hover {
      box-shadow: 0px 0px 18px #ccc;
    }
    .block-item-plus {
      font-size: 40px;
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 90px;
    }

    h2, p {
      color: #34495e;
      line-height: 2em;
      overflow: scroll;
    }
    .anticon-setting, .anticon-cloud {
      position: absolute;
      cursor: pointer;
      font-size: 14px;
    }
    .anticon-setting {
      bottom: 14px;
      right: 14px;
    }
    .anticon-cloud {
      bottom: 14px;
      left: 14px;
    }
  }
}

.edit-pop {
  text-align: center;
  font-size: 16px;
  .anticon {
    cursor: pointer;
    margin: 0 15px;
  }
  .anticon-edit {
    color: #F1C40F;
  }
  .anticon-delete {
    color: #E74C3C;
  }
}
