.navbar {
  height: 62px;
  background-color: #34495E;
  .navbar-brand {
    display: block;
    line-height: 62px;
    font-size: 34px;
  }
  .navbar-nav {
    li {
      float: left;
      padding: 0 6px;
      line-height: 62px;
      a {
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
}

.container {
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
