.version-side {
  float: left;
  width: 160px;
  margin-top: 20px;
}

.version-main {
  margin-left: 160px;
  .ant-breadcrumb {
    line-height: 4em;
    margin: 0 4%;
    a {
      color: #2db7f5;
    }
  }
}
